:root {
  --wht: #f8f8f8;
  --db: #16213e;
  --lb: #0f3460;
  --ppl: #533483;
  --pnk: #e94560;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  scroll-behavior: smooth;
}
